.header__square-pic {
  background: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}